DATABASE_URL="postgresql://postgres:postgres@localhost:5433/greennest?schema=public"
JWT_SECRET="replace-with-a-long-random-access-token-secret-at-least-32-characters"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="replace-with-a-different-random-refresh-secret-at-least-32-characters"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3001
CORS_ORIGIN="http://localhost:3000"
SWAGGER_ENABLED=true